body {
    background-color: green;
    font-family: 'Papyrus';
    margin: 0;
}

button {
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    margin: 6px 6px;
    border-radius: 10px;
    border: none;
    font-family: 'Papyrus';
}

button:hover{
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

.root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.headerBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    padding: 8px;
}

.contentContainer {
    background-color: purple;
    display: flex;
    position: relative;
    flex-grow: 1;
    justify-content: center;


}

.homePage {
    background-color: red;
    height: 100%;
    width: 100%;
}

.bgImgDiv {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuPage {
    /* width: 100%; */
    /* height: 100%; */
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem  1rem 2rem  ;
    max-width: 55rem;
}

.contactPage {
    /* width: 100vw; */
    /* height: 100vh; */
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem  ;
    max-width: 44rem;
}

.header {
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 20px;
}


.menuPage > .body {
    /* background-color: lightblue; */
    column-gap: 2rem;
    column-count: 2;
    column-width:    min(25rem);
    /* padding: 2rem  3.5rem  2rem  3.5rem  ; */
}

.menuSection {
    /* background-color: lightgreen; */
    margin: 0;
    margin-bottom: 10px;
    break-inside: avoid;
    /* width: 25rem; */
}

.contactPage > .body {
    /* background-color: aqua; */
    column-gap: 2rem;
    column-count: 2;
    column-width: min(20rem);
}

a{
    color: black;
    text-decoration: underline 0.5px;
}

a:hover {
    color: darkblue;
}
.address {
    padding-bottom: 10px;
}

p {
    margin: 0;    
}

h2, h4 {
    margin: 0;
}



.header1 {
    font-size: 50px;
}

.header2 {
    font-size: 30px;
}

.header3 {
    font-size: 20px;
}

.menuSectionHeader{
    padding-top: 10px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding: none;
    font-weight: normal;
    font-size: 15px;
    color: black;

}

li {
    margin-bottom: 8px;
}

li > p {
    font-weight: normal;
    font-size: 12px;
    color: gray;
}

.itemPrice {
    font-size: 12px;
    color: black;
    font-weight: 700;;
}
