body {
    background-color: lightblue;
    font-family: 'Helvetica';
    margin: 0;
}

button {
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    margin: 6px 6px;
    border-radius: 10px;
    border: none;
}

button:hover{
    background-color: gray;
    color: white;
}

.root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.headerBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    padding: 8px
}

.contentContainer {
    background-color: purple;
    display: flex;
    position: relative;
    flex-grow: 1;
}

.homePage {
    background-color: red;
    height: 100%;
    width: 100%;
}

.bgImgDiv {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuPage {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

}

.menuHeader {
    /* width: 100%;
    height: 100%; */
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuBody {
    /* width: 100%;
    height: 100%; */
    background-color: lightblue;

}
p {
    margin: 0;    
}

h2, h4 {
    margin: 0;
}

ul {
    margin: 0;
}
.headerText {
    font-size: 50px;
}

.subText {
    font-size: 25px;
}

.subText2 {
    font-size: 15px;
}
